/* Estilos genericos */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Variables y fuentes */
@font-face{
    font-family: "fuente1";
    src: url("../fonts/oswald/static/Oswald-SemiBold.ttf");
}
@font-face{
    font-family: "fuente2";
    src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}
@font-face{
    font-family: "fuente3";
    src: url("../fonts/Spline_Sans_Mono/static/SplineSansMono-Regular.ttf");
}

/* Estilos web */
:root{
  --color0: White;
  --color1: rgb(42, 42, 42);
  --color2: Grey;
  --color3: #b94747;
  --fuente1: "fuente1";
  --fuente2: "fuente2";
  --fuente3: "fuente3";

  font-family: var(--fuente2);
}
h1{
    color: var(--color1);
    font-size: 1.4rem;
    font-family: var(--fuente1);

}
h2{
    color: var(--color2);
    font-size: 1.8rem;
    font-family: var(--fuente2);
    font-weight: 100;
    margin-top: 4rem;
}
@media only screen and (max-width:540px){
    h2{
        padding: 0 1rem;
    }
}
h3{
    width:100%;
    text-align: left;
    color: var(--color1);
    font-size: 2rem;
    font-family: var(--fuente2);
    font-weight: 100;
}
h4{
    font-size: 1.2rem;   
    font-family: var(--fuente3);
    color: var(--color2);
    font-weight: 100;
    letter-spacing: 3px;
}
p{
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.6rem;
}
@media only screen and (max-width:540px){
    p{
        padding: 0 1rem;
    }
}
a{
    text-decoration: none;
    color: inherit;
}

.boton{
    background-color: var(--color0);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color1);
    cursor: pointer;
}

.boton:hover{
    background-color: var(--color2);
    border-color: var(--color0);
    color: var(--color0);
    transition: 0.5s;
}
.boton:active{
    transform:scale(0.9);
    transition: 0.1s;
}

/* Cajas Principales */

nav,header,main,footer{
   width: 100%; 
   max-width: 2560px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

section, article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: flex-start;
}
section{
    margin-top: 2rem;
}
article{
    margin-top: 2rem;
    row-gap: 1rem;
}
.anchoEstrecho{
    max-width: 1200px;
    width: 95%;
}
/* SPAN */
#toggle, .contenedor_span{
display:none;
}
/* Nav */
nav{
    position: fixed;
    z-index: 100;
    top: 0;
}
nav .sup{
    width: 100%;
    height: 5vh;
    background-color: var(--color0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: center;
    position: relative;
}
nav .sup img{
    height: 63px;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}
nav .inf{
    width: 100%;
    height: 5vh;
    background-color: var(--color0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: center;
}
nav .inf ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    list-style: none; 
    column-gap: 4rem;
   }
nav .inf ul li a{
   color: var(--color1);
}
nav .inf ul li a:visited{
    color: var(--color1);
}
nav .inf ul li a:hover{
    color: var(--color3);
    font-weight: bold;
}
@media only screen and (max-width:540px){
    .contenedor_span{
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 900;
        width: 30px;
        height: 30px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        cursor: pointer;
    }
    .contenedor_span span{
        width: 100%;
        height: 3px;
        background: var(--color1);
        transition: all 250ms ease-out;
        transform-origin: 0 0;
    }
    nav .sup{
        height: 10vh; 
    }
    nav .inf{
        position: relative;
        left: 100%;
        background-color: var(--color0);
        top: 0;
        width: 100%;
        height: 90vh;
        align-items: flex-start;
        padding-top: 2rem;
        transition: 0.5s;         
             
    }
    nav .inf ul{
        border-left: 2px solid var(--color3);
        flex-direction: column;
        row-gap: 2rem;
        align-items: flex-start;
        padding-left: 1rem;
        font-size: 1.5rem;
    }
    nav .inf ul li a{
        font-size: 2rem;
        text-decoration: none;
    }
    #toggle:checked ~ .contenedor_span span:nth-last-child(1){
        transform: rotate(-45deg) translate(-1px, 0px);
    }
    #toggle:checked ~ .contenedor_span span:nth-last-child(2){
        transform: rotate(0deg) scale(0.2, 0.2);
        opacity: 0;
    }
    #toggle:checked ~ .contenedor_span span:nth-last-child(3){
        transform: rotate(45deg) translate(0px, -1px);
    }
    #toggle:checked ~ nav .inf{
        left: 0;
    }

}

/* Estilos del Header */
header{
    margin-top: 70px;
    height: 90vh;
    background-image: url("../img/header_2560.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
   
}
header .contenedor{
    /* background-color: aquamarine; */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2px;
    font-family: var(--fuente1);
    user-select: none;
    color: var(--color0);
    transform: translateY(40px);

}
header .contenedor :nth-child(1){
    font-size: 5.2vw;
    line-height: 5vw;
}
header .contenedor :nth-child(2){
    font-size: 3.4vw;
    line-height: 3vw;
}
header .contenedor :nth-child(3){
    font-size: 8.2vw;
    line-height: 8vw;
}
header .contenedor :nth-child(4){
    font-size: 2.7vw;
    line-height: 2.3vw;
}
header .contenedor :nth-child(5){
    font-size: 5.4vw;
    line-height: 5vw;
}
header .contenedor :nth-child(6){
    font-size: 4.1vw;
    line-height: 4vw;
}
header .contenedor :nth-child(7){
    font-size: 10.9vw;
    line-height: 10vw;
}
header .contenedor :nth-child(8){
    font-size: 2vw;
    line-height: 2vw;
}
/* MAIN */
/* ID SECTPRESENTACION */
/* #sectpresentacion{
    background-color: fuchsia;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}
#sectpresentacion article{
    background-color: blueviolet;
    max-width: 1200px;
    width: 95%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
} */
#contenedorservicios{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}
#contenedorservicios .servicio{
    width: 100%;
    max-width: 550px;
    min-width: 320px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
}
#contenedorservicios .servicio .contenedor_foto{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
#contenedorservicios .servicio .contenedor_foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter:saturate(0);
    transition: 1s;
}
#contenedorservicios .servicio .contenedor_foto img:hover{
    filter: saturate(1);
    transform:scale(1.2);
}
/* Seccion Album */
/* Articulo SLIDER */
#slider{
    width: 100%;
    /* max-width: 2560px; */
    height: 90vh;
    position: relative;
}
#slider :nth-child(1), #slider :nth-child(2){
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
    cursor: pointer;    
}

#slider :nth-child(1){
    left: 2rem;
}
#slider :nth-child(2){
    right: 2rem;
}
@media only screen and (max-width:540px){
    #slider :nth-child(1), #slider :nth-child(2){
        width: 96px;
    }
    #slider :nth-child(1){
        left: 1rem;
    }
    #slider :nth-child(2){
        right: 1rem;
    }
}
#fotoActiva{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* SECCION QUIENES SOMOS */
#contenedorEquipo{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 2rem;
    flex-wrap: wrap;

}
.clasePersona{
    width: 90%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
    
}
.clasePersona .claseImagen{
    width: 100%;
    min-width: 350px;
    height: 350px;
    position: relative;

}

.clasePersona .claseImagen :nth-child(1){
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: 1s;

}
.clasePersona .claseImagen :nth-child(2){
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform:translate(-50%, -50%) scale(.7);
    filter: sepia(1) opacity(.3);
    transition: 1s;     
}
.clasePersona .claseImagen :nth-child(2):hover{
    filter:sepia(0) opacity(.8);
    transition: 1s;  
}
.clasePersona .claseImagen :nth-child(1):hover{
    transform:rotate(40deg);
    transition: 1s;  
}
/* Estilos FOOTER */

footer{
    width: 100%;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color:var(--color0);
    font-family: var(--font1);
    padding: 4rem 2rem;
    row-gap: 2rem;
}

#contenedor_form{
    width: 100%;
    max-width: 2560px;
    display:flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: flex-end;
    column-gap: 5rem;
}
#contenedor_form h2{
    color: var(--color0);
}
#contenedor_form >img{
    width: 40%;
    height: 400px;
    object-fit: cover;
}
footer form{
    width: 40%;
    min-width: 320px;
    max-width: 800px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 1rem;

}
footer form input,textarea{
    width: 100%;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-family: var(--fuente2);
}
footer form textarea{
    height: 100px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 100px;
}
#boton_enviar{
    width: 10%;
    min-width: 160px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: inherit;
}



#ContentFooter{
    width: 100%;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    row-gap: 2rem;
}
#ContentFooter >img{
    width: 150px;
}
#SupFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    }
#SupFooter .infoSupFooter{
    width: 30%;
    min-width: 300px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 2rem;   
    
}
#SupFooter .infoSupFooter ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
#SupFooter .infoSupFooter ul li a{
    color: var(--color0);
    text-decoration: none;
    font-weight: 100;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2rem;
   
}

#SupFooter .infoSupFooter ul li a:hover{
    /* https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(38%) sepia(11%) saturate(2641%) hue-rotate(313deg) brightness(99%) contrast(105%);
}
#AbajoFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    row-gap: 0.1rem; 
}
#AbajoFooter p{
    font-size: 1rem;
}
.iconos_contacto{
    width: 20px;
    filter:invert(1);
}
#contenedor_rrss{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;

}
#contenedor_rrss img{
    width: 40px;
}



